#title {
    margin: auto;
    padding: 50px;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.content {
    width: 800px;
    margin: auto;
}
mat-form-field {
    width: 100%;
    font-size: 24px;
}
mat-option {
    font-size: 24px;
}